

<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="style.css">
 
  <link href="https://uvc.one/upload/iblock/a4f/a4fa195b41beafcf172e2843a0bef744.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>

<div class="container">
    <div class="kek">
  <h1>Purchase of materials</h1>
  <p></p>   
</div>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Seller</th>
        <th>Reference</th>
        <th>Category</th>
        <th>Purchase_date</th>
        <th>End_warranty</th>
        <th>Price</th>
        <th>Advices</th>
        <th>Receipt_photo</th>
        <th>Manual</th>
        <th>Modify/Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>2</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>3</td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>


<script type="text/javascript" src="script.js"></script>

</body>
</html>


   <!--  <tr>
        <td>{{ reference_number }}</td>
        <td>{{ name }}</td>
        <td>{{ category }}</td>
        <td>{{ price }}</td>
        <td>{{ buy_date }}</td>
        <td>{{ action }}</td>
   
   
    </tr>


    -->

