

<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link href="https://uvc.one/upload/iblock/a4f/a4fa195b41beafcf172e2843a0bef744.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

  <link rel="stylesheet" href="style.css">
 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
</head>
<body>

 
 


<div class="container">
    <div class="kek">
  <h1>Purchase of materials</h1>
 
  </div>

  <div class="logout">
  <a class="btn btn-primary"> logout</a>
   </div>
    <!-- Modal de déconnexion-->
    <div id="deco" class="hidden" uk-modal >
      <div class="uk-modal-dialog uk-modal-body uk-text-center uk-margin-auto-vertical">
          <h1 class="warning">Déconnexion</h1>
          <p>Êtes-vous sur de vouloir vous déconnecter?</p>
          <p class="uk-text-center">
              <button class="uk-button uk-button-default yes" id="validation" onclick="deco()" type="button" href="logout.php">  <a href="logout.php">Oui</a></button>
             <div class="no">
              <button id="cacher" class="uk-button uk-button-default uk-modal-close nope" onclick="cacher()" type="button">Non</button>
             </div>
          </p>
       </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th> ID </th>
        <th>Name</th>
        <th>Seller</th>
        <!-- <th>Seller_</th> -->
        <th>Reference</th>
        <th>Category</th>
        <th>Purchase_date</th>
        <th>End_warranty</th>
        <th>Price</th>
        <th>Advices</th>
        <th>Receipt_photo</th>
        <th>Manual</th>
        <th>Modify/Delete</th>
      </tr>
    </thead>
    <tbody>


      {% for produit in data %}
      <tr>




        <td>{{ produit.id }}</td>
        <td>{{produit.productname}}</td>
        <td>{{produit.sellername}} {{produit.address}}</td>
        <td>{{produit.reference}}</td>
        <td>{{produit.type}}</td>
        <td>{{produit.purchasedate}}</td>
        <td>{{produit.warrantydate}}</td>
        <td>{{produit.price}}</td>
        <td>{{produit.maintenance}}</td>
        <td><a href="receipt_photo/{{produit.purchaseticket}}" target="_blank" rel="noopener noreferrer">{{produit.purchaseticket}}</a></td>
        <td><a href="manual_img/{{produit.usermanual}}" target="_blank" rel="noopener noreferrer">{{produit.usermanual}}</a></td>
        <td><a href="edit.php?edit=1&id={{produit.id}}">Edit</a>/ <a href="#" data-id="{{produit.id}}" class="dlt">Delete</a>
        
        <!-- Modal de confirmation de suppression de ligne-->

         <div id="modal{{produit.id}}" uk-modal class="hidden">
          <div class="uk-modal-dialog uk-modal-body uk-text-center uk-margin-auto-vertical">
              <h1 class="warning">Suppression</h1>
              <p>Êtes-vous sur de vouloir supprimer cette ligne?</p>
              <p class="uk-text-center">
              <div class="red">
                  <button class="uk-button uk-button-default yes" id="confirmation" onclick="trash()" ><a href="delete.php?id={{produit.id}}">Oui </a></button>
              </div>
                  <button class="uk-button uk-button-default uk-modal-close nope" id="nodelete">Non</button>
              </p>
          </div>
        </div> 
     

      </td>

    
      </tr>
     
      {% endfor %}
      
       
        
      
    </tbody>
  </table>
  <p> <a href="add.php" class="btn btn-success">Ajouter</a></p>


  


</div>






<script type="text/javascript" src="script2.js"></script>


</body>
</html>


   <!--  <tr>
        <td>{{ reference_number }}</td>
        <td>{{ name }}</td>
        <td>{{ category }}</td>
        <td>{{ price }}</td>
        <td>{{ buy_date }}</td>
        <td>{{ action }}</td>
   
   
    </tr>


    -->

    