 
 

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="styleform.css">
    <title> </title>
  </head>
  <body> 

<div id="form">
  
    <form action="edit.php" method="post" enctype="multipart/form-data">
        
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="exampleInput2" placeholder="Enter..." value="{{name}}" name="name">
        </div>
       
        <label for="seller">Seller</label>

        <select class="form-control custom" name="seller" id="selectseller" >
          {% for option in values %}
          <option value="{{option.sellername}} {{option.address}}">{{option.sellername}} : {{option.address}}</option>

          {% endfor %}
        </select>

        <input type="text" class="form-control" id="exampleInput3" placeholder="Enter..." name="seller" text="Enter ...">
        <input type="text" class="form-control" placeholder="Adresse ..." name="selleraddress"  placeholder="Default input">
       
       

        <label for="reference">Reference</label>
        <input type="text" class="form-control" id="exampleInput4" placeholder="Enter ..." name="reference">

        <label for="category">Category</label>

        <select class="form-control custom" name="seller" id="selectcategory" >
          {% for option in values %}
  
          <option value="{{option.type}}">{{option.type}}</option>
  
          {% endfor %}
        </select>

        <input type="text" class="form-control" id="exampleInput5" placeholder="Enter..." name="category">
       
        <label for="purchase_date">Purchase_date</label>
        <input type="date" class="form-control" id="exampleInput6" placeholder="Enter..." name="purchase_date">



        <label for="end_warranty">End_warranty</label>
        <input type="date" class="form-control" id="exampleInput7" placeholder="Enter ..." name="end_warranty">


        <label for="price">Price</label>
        <input type="text" class="form-control" id="exampleInput8" placeholder="Enter ..." name="price">


        <label for="advices">Advices</label>
        <input type="text" class="form-control" id="exampleInput9" placeholder="Enter ..." name="advices">


        <div class="form-row mb-2">

          <!-- receipt image upload -->
          <div class="col-4 form-group custom-file">
              <input type="file" class="custom-file-input" id="image_productInput" name="image_product"/>
              <input type="hidden" name="MAX_FILE_SIZE" value="2097152" />
              <label class="custom-file-label" for="image_productInput">Upload receipt</label>
              <div class="invalid-feedback">Please upload the receipt</div>
          </div>

          <!-- manual upload -->
          <div class="col-4 offset-2 form-group custom-file">
              <input type="file" class="custom-file-input" id="manual_productInput" name="manual_product"/>
              <input type="hidden" name="MAX_FILE_SIZE" value="2097152" />
              <label class="custom-file-label" for="manual_productInput">Upload manual</label>
          </div>
      </div>
        

      

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
   

 


 

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" src="script.js"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
